*{
	margin: 0 auto;
	padding: 0;
	font-family: "微软雅黑"；
}
#top{
	width: 100%;
	height: 60px;
	background: #205aa4;
	z-index: 2;
	position: relative;
}
#top h2{
	line-height: 60px;
	color: #fff;
	padding-left: 40px;
}

#main img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
#loadin{
	position: absolute;
	top: 120px;
	left: 36%;
	width: 410px;
	height: 260px;
	border-radius: 10px;
	z-index: 2;
}
#loadin_top{
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	background: #3b4966;
	border-radius: 10px 10px 0 0;
	color: #fff;
}
#loadin_con{
	width: 410px;
	height: 220px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 0 0 10px 10px;
}
#loadin_con span{
	margin-top: 36px;
	margin-left: 38px;
	font-size: 13px;
	color: #000;
}
#loadin_con .text{
	margin-top: 36px;
	width: 210px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #faffbd;
	outline: none;
	opacity: 1;
}
#loadin_con a{
	font-size: 12px;
	padding-left: 46px;
	color: #2078c0;
}
#loadin_con .btn{
	margin-top: 30px;
	margin-left: 170px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 8px;
	background: #3b4966;
	color: #fff;
	border: none;
	border-radius: 4px;
	outline: none;
	opacity: 1;
}

/*登录后,左边导航条*/
#tab-left{
	height: 601px;
	width: 200px;
	float: left;
	background: #3b4966;
}
#tab-left ul{margin-top: 30px;}
#tab-left .leave{
	list-style: none;
	height: 40px;
	width: 180px;
	padding-left: 20px;
	color: #c0c6d3;
	line-height: 40px;
	font-size: 15px;
}
#tab-left .leave:hover{
	background: #205aa4;
}
#tab-left .check p,.leave p{
	display: block;
	height: 40px;
	line-height: 40px;
	width: 110px;
	margin-left: 10px;
	float: left;
}
#tab-left .check span{
	height: 40px;
	line-height: 40px;
}
#tab-left .check strong,.leave strong{
	height: 20px;
	width: 20px;
	margin-top: 10px;
	float: left;
}
#tab-left .check strong{
	margin-left: 20px;
	background: url(../images/note1.png) no-repeat;
	background-size: contain;
}
#tab-left .leave strong{
	background: url(../images/note2.png) no-repeat;
	background-size: contain;
}
#tab-left #trip strong{
	background: url(../images/note3.png) no-repeat;
	background-size: contain;
}
#tab-left .check{
	color: #c0c6d3;
	font-size: 15px;
}
#tab-left .check .dif{
	width: 200px;
	height: 40px;
	cursor: pointer;
}
#tab-left .check .dif:hover{
	background: #205aa4;
}
#tab-left .check #nav{
	width: 200px;
	height: 120px;
	background: red;
	margin-top: 0;
}
#tab-left .check #nav li{
	width: 150px;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	background: #2c374d;
}

#tab-left .check #nav .active{
	background: #205aa4;
}


#checkin .box,.leavein .box,.tripin .box{
	width: 800px;
	height: 40px;
	font-size: 19px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.clockin-table{
	width: 650px;
	font-size: 17px;
	border: 1px solid #ccc;
}
.clockin-table tr{
	height: 30px;
}
.leavein .leavein_con{
	width: 646px;
	border: 1px solid #ccc;
	padding-left: 4px;
}
.leavein .leavein_con a{
	text-decoration: none;
	color: #000;
	line-height: 26px;
}
/*.tripin .tripin_con{
	width: 646px;
	border: 1px solid #ccc;
	padding-left: 4px;
}
.tripin .tripin_con a{
	text-decoration: none;
	color: #000;
	line-height: 26px;
}*/